name: "[Test] Docker Publish"

on:
  push:
    branches:
      - main
  workflow_dispatch:

# concurrency:
#   group: ${{ github.workflow }}
#   cancel-in-progress: true

permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    # 如果有自建 runner 使用 self-hosted，否则用 ubuntu-latest
    runs-on: ubuntu-latest
    # runs-on: self-hosted  # 如果服务器配置了 self-hosted runner，取消注释这行并注释上面那行
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: api
            file: Dockerfile
            image: api

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.CONTAINER_REGISTRY_HOST }}
          username: ${{ secrets.HARBOR_USERNAME }}
          password: ${{ secrets.HARBOR_PASSWORD }}
          logout: false
        continue-on-error: false
        timeout-minutes: 10

      - name: Build and push ${{ matrix.name }}
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ${{ matrix.file }}
          push: true
          provenance: false
          tags: |
            ${{ secrets.CONTAINER_REGISTRY_HOST }}/workspace2/test1:latest
          cache-from: type=gha,mode=min
          cache-to: type=gha,mode=null
          no-cache: false
        timeout-minutes: 30

   # 可选：使用 Dokploy 自动部署
  dokploy-deploy-api:
     runs-on: ubuntu-latest
     needs: build-and-push
     steps:
       - name: Trigger Dokploy Deployment
         env:
           DOKPLOY_DOMAIN: ${{ secrets.DOKPLOY_DOMAIN }}
           DOKPLOY_AUTH_TOKEN: ${{ secrets.DOKPLOY_AUTH_TOKEN }}
           DOKPLOY_APPLICATION_ID: ${{ secrets.API_TEST_APP_ID }}
         run: |
           curl -X 'POST' \
             "https://${DOKPLOY_DOMAIN}/api/compose.deploy" \
             -H 'accept: application/json' \
             -H "x-api-key: ${DOKPLOY_AUTH_TOKEN}" \
             -H 'Content-Type: application/json' \
             -d "{\"composeId\":\"${DOKPLOY_APPLICATION_ID}\"}"

